name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # Allow goreleaser to access older tag information.
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version-file: .go-version

      - uses: hashicorp/setup-terraform@v3
        id: setup-terraform
        with:
          terraform_wrapper: false

      - name: Run tests
        run: go test ./lavinmq/ -v
        env:
          TF_ACC: 1
          TF_ACC_TERRAFORM_PATH: ${{ steps.setup-terraform.outputs.terraform_path }}

      - name: Build for single target with GoReleaser
        uses: goreleaser/goreleaser-action@9c156ee8a17a598857849441385a2041ef570552 # v6.3.0
        with:
          args: build --clean --snapshot --single-target
